<link rel="stylesheet" href="/styles/select.css"/>

<div class="select">
 <label class="label"><%= data.label %></label>
 <div class="default-option">
    <span class="selected-value"><%= data.label === "Category" ? "All categories" : "Any type" %></span>
    <img src="/assets/icons/down-arrow.svg" alt="" class="down-arrow">
    <img src="/assets/icons/up-arrow.svg" alt="" class="up-arrow">
 </div>
 <ul class="option-list">
    <% data.values.forEach((e,index)=>{ %>
      <li class="option"><%- e %></li>
    <% }); %>
 </ul>
</div>

<script>
   
</script>
